body
  background: #BCAD82 url('/media/images/body_background_diminished.jpg') 50% 0% no-repeat fixed
  color: #310000

  a
    color: #310000

.container
  width: 990px

.navbar
  margin-bottom: 12px
  z-index: 90

  .navbar-inner
    background: transparent
    box-shadow: none

    .container
      height: 125px
      width: 990px
      color: #D67E3E
      background-color: #310000
      background-position: left top
      background-repeat: repeat-all
      background-image: url('/media/images/leather_dark.jpg')
      position: relative
      border: 1px solid #F07C40
      border-bottom-color: #744635
      border-top: none

      a
        color: #D67E3E

      .brand
        padding: 0
        margin: 0
        margin-left: 80px
        width: 680px
        height: 95px
        overflow: hidden

        span
          display: block
          float: left
          line-height: 95px

        strong
          display: block
          float: left
          width: 570px
          text-transform: uppercase
          font-size: 2em
          font-weight: bold
          line-height: 95px
          padding: 0 15px
          text-indent: -9999px
          background: left top no-repeat url('/media/images/logo.png')

      .main_navigation
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 30px
        color: #310000
        background-color: #D67E3E
        background-color: rgba(254, 166, 102, 0.6)


        .nav
          height: 30px

          li
            height: 30px
            line-height: 30px

            a
              height: 30px
              line-height: 30px
              padding: 0 1.5em
              color: #310000
              text-transform: uppercase
              font-weight: bold

              &:hover
                text-decoration: underline

            &.active,
            &.hover,
            &:hover
              a
                background-color: lighten(#D67E3E, 25%)

        .social_auth_providers
          float: right

          li

            padding: 6px
            margin: 0

            &:hover
              background-color: rgba(255, 255, 255, 0.3)

        .auth_widget
          li
            a
              color: #FFFFFF
              text-transform: lowercase

              &:hover
                text-decoration: underline

#cart-dropdown-toggler
  width: 70px
  height: 40px
  padding: 5px 10px 5px 60px
  border-radius: 10px
  margin-right: 20px
  margin-top: 20px
  -webkit-box-shadow: 0 0 20px #E0600F
  -moz-box-shadow: 0 0 20px #E0600F
  box-shadow: 0 0 20px #E0600F
  background-color: #310000
  background-image: -moz-linear-gradient(center top, #3B0F04, #6A1B0E)
  background-repeat: repeat-x
  position: relative

  &:hover
    -webkit-box-shadow: 0 0 40px lighten(#E0600F, 30%)
    -moz-box-shadow: 0 0 40px lighten(#E0600F, 30%)
    box-shadow: 0 0 40px lighten(#E0600F, 30%)
    background-color: lighten(#310000, 20%)
    background-image: -moz-linear-gradient(center top, lighten(#3B0F04, 20%), lighten(#6A1B0E, 20%))

  span
    display: block
    position: absolute
    width: 33px
    height: 33px
    left: 15px
    top: 8px
    background: left top no-repeat url('/media/images/cart.png')

  .empty

  .full
    font-size: 2.5em
    line-height: 40px
    height: 40px

  span
    padding: 0
    margin: 0
    background: auto
    color: auto

.main_container
  margin-top: 126px
  min-height: 360px
  color: #310000
  background-color: #FFF
  overflow: hidden
  padding: 16px
  width: 962px

  &.home
    padding: 0
    margin-top: 80px
    width: 992px

    .breadcrumb
      display: none

  &.with_sidebar
    padding: 0
    width: 990px
    background-position: left top
    background-repeat: repeat-y
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALkAAAABCAIAAAANVpgTAAAAEklEQVQokWMM1ZJkGAWjgAgAAE2TAJpOF4voAAAAAElFTkSuQmCC)

    .breadcrumb
      display: none

    .rest
      margin-left: 200px
      padding-top: 16px
      padding-right: 16px
      position: relative

      .form-actions
        background: #310000
        border: none
        border-radius: 10px

    &.promo
      .catalog_widget
        padding-bottom: 0
      .rest
        margin-left: 185px
        padding: 0
        position: relative

  .btn-primary
    background-color: #00CC74
    background-image: -moz-linear-gradient(center top , #00CC88, #00CC55)
    background-repeat: repeat-x
    color: #FFF

  .info
    background-color: #00CC74
    background-image: -moz-linear-gradient(center top , #00CC88, #00CC55)
    background-repeat: repeat-x
    color: #FFF
    padding: 1em
    border-radius: 10px

  .breadcrumb

    li:after
      content: '/'

    li:last-child:after
      content: ''

  .catalog_widget
    min-height: 530px
    position: fixed
    color: #FAD386
    //background-color: #552A19
    border: none
    width: 185px
    float: left
    padding-bottom: 16px

    h4
      height: 40px
      line-height: 40px
      padding: 4px 24px
      text-transform: uppercase
      font-weight: bold
      color: #D67E3E
      background-color: #310000

    a
      color: #FAD386

  .categories
    margin: 0


footer
  border-top: 4px solid #AC6231
  margin-top: 0px
  color: #D67E3E
  background-color: #310000
  background-position: left top
  background-repeat: repeat-all
  background-image: url('/media/images/leather_dark.jpg')

  .footer-inner
    padding: 16px
    overflow: hidden

    p
      margin: 0
      padding: 0

    a
      color: #D67E3E

  &.home
    margin-top: 0

.hero-unit
  padding: 1em
  width: auto
  height: auto
  margin-bottom: 1em

.control-group input
.control-group select
.control-group textarea
  width: 400px

.errorlist
  color: red

label
  color: #310000


.product_container
  overflow: hidden
  background-position: 321px top
  background-repeat: repeat-y
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQImWO4ceMGAAUUAokpzu7XAAAAAElFTkSuQmCC)
  min-height: 400px
  padding-bottom: 120px

  .images
    float: left
    width: 320px
    min-height: 320px

    .main_image
      padding: 10px
      width: 300px
      height: 300px
      background-color: #FFF

      a
        width: 300px
        height: 300px
        display: table-cell
        text-align: center
        vertical-align: middle
        border: none

        img
          border: none

    .additional_images
      padding: 0 10px
      width: 300px
      height: 90px

      ul
        margin: 0

        li
          margin: 0
          margin-right: 10px


  .text
    float: right
    height: 320px
    width: 430px
    padding-left: 10px
    margin-bottom: 30px
    overflow: auto

    h1

    .description
      padding-right: 10px
      text-align: justify

  .shopping
    float: right
    width: 420px
    padding-left: 20px

    .stock_status
      width: 150px
      float: left
      padding-right: 10px

      .remainder
        em
          display: none
        strong:after
          content: 'шт. '

      .price_block
        padding-top: 10px
        .label
          display: none

        strong
          font-size: 2em
          font-weight: bold

    .add_to_cart_form
      width: 250px
      float: right
      position: relative

      label
        float: left
        width: 80px
        height: 18px
        line-height: 18px
        padding: 5px
        text-align: right

        &:after
          content: ':'

      input
        float: left
        width: 40px
        padding: 5px
        text-align: center

      select
        float: left
        width: 140px
        padding: 5px
        text-align: center

      fieldset
        float: left
        width: 245px
        padding-top: 15px

      button
        float: right
        width: 100px
        border: 1px solid #552A19
        border-radius: 10px
        -moz-border-radius: 10px
        -webkit-border-radius: 10px
        padding: 10px 0
        text-align: center
        background-color: #552A19
        background-image: -moz-linear-gradient(center top, #552A19, lighten(#552A19, 30%))
        color: #FFF
        text-decoration: underline
        font-weight: bold

        &:hover
          background-image: -moz-linear-gradient(center top, lighten(#552A19, 30%), lighten(#552A19, 50%))
          border-color: lighten(#552A19, 30%)


  .additional_info
    padding: 10px 0
    position: absolute
    overflow: hidden
    bottom: 0
    left: 0
    width: 100%
    height: 100px

    .you_might_be_interested
      border-top: 1px solid #D8D8D8
      float: left
      width: 300px
      margin: 0 10px
      padding: 10px 0
      height: 80px

      ul
        margin: 0

        li
          margin: 0
          margin-right: 10px

    .also_they_buy
      border-top: 1px solid #D8D8D8
      float: right
      width: 440px
      margin: 0 10px
      padding: 10px 0
      height: 80px

      ul
        margin: 0

        li
          margin: 0
          margin-right: 10px


ul.category_tree
  padding: 0
  margin: 10px
  list-style: none

  li
    margin: 0
    padding: 0
    list-style: none

    > a
      text-transform: capitalize

    ul
      list-style: none
      margin: 0
      padding: 0
      margin-left: 10px

    &.expandable
      padding-left: 20px
      background: left top no-repeat url('/media/images/expand_16x16.png')

    &.expanded
      background: left top no-repeat url('/media/images/collapse_16x16.png')

    &.collapsed
      > ul
        display: none

    &.active > a
      font-weight: bold

  &.root
    > li
      border-bottom: 1px solid #634E39
      padding: 10px 0
      > a
        font-weight: bold
        display: block
      &.expandable
        padding-left: 0
        background: none
      &.expandable.expanded
        padding-left: 0
        background: none
      &.expandable.collapsed
        padding-left: 0
        background: none

      > ul
        display: block

.price:after
  font-weight: bold
  content: ' руб.'

.order_list
  .status,
  tr:hover .status
    background-color: #d2691e
    color: #fff

.compact_color_list
  overflow: hidden
  list-style: none
  margin: 0.5em 0

  li
    margin: 0 0.5em 0 0
    border: 1px solid #d2691e
    float: left
    padding: 0 1em
    height: 3em
    line-height: 3em
    list-style: none
    font-weight: bold
      
      
.social_auth_providers

  list-style: none
  overflow: hidden
  margin: 0
  padding: 0

  li
    list-style: none
    float: left

    a
      line-height: 16px
      display: block
      width: 16px
      height: 16px
      float: left
      margin-right: 6px
      background-repeat: no-repeat
      background-image: url("/media/img/ico_social.png")
      border-radius: 3px 

      span
        text-indent: -9999px
        display: block
        width: 16px
        height: 16px

    &.vkontakte a
      background-position: -64px -128px
    &.vkontakte a:hover
      background-position: -64px -144px

    &.facebook a
      background-position: -144px -128px
    &.facebook a:hover
      background-position: -144px -144px

    &.twitter a
      background-position: -48px -128px
    &.twitter a:hover
      background-position: -48px -144px

    &.google a
      background-position: -160px -128px
    &.google a:hover
      background-position: -160px -144px