- load fb_versions
%img.version{
    'alt':'{{ image.title }}',
    'title': '{{ image.title }}',
    'src': '{% version image.image.path thumbnail_version %}',
    'class': 'image_version{{thumbnail_version}}'
}