- load i18n

%ul.social_auth_providers
    -#%li.twitter
    -#    %a{:href => "/accounts/login/twitter/"}
    -#        %span {% trans "Log in using Twitter" %}
    %li.google
        %a{:href => "/accounts/login/google-oauth/"}
            %span {% trans "Log in using Google" %}
    %li.facebook
        %a{:href => "/accounts/login/facebook/"}
            %span {% trans "Log in using Facebook" %}
    %li.vkontakte
        %a{:href => "/accounts/login/vkontakte-oauth2/"}
            %span {% trans "Log in using Vkontakte" %}