- extends 'doppler_base.haml'
- load i18n

- block breadcrumbs
    %ul.breadcrumb
        %li
            - include 'home_link.haml'
        %li
            %a{'href': '{% url doppler_auth_login %}'}
                {% trans "Login" %}

- block content

    %form.well.form-inline{'action': '', 'method': 'POST', 'style': 'text-align: center;'}
        - csrf_token
        = form
        %button.btn.btn-info{'type': 'submit'}
            {% trans "Login" %}