doppler/base
*.log
*.pot
*.pyc
main/local_settings/*.py
env
mail_dump
reports
*sqlite3
error.log
buildout.cfg
.installed.cfg
bin**
eggs**
develop-eggs**
parts**
**.pyc**
**.idea**
**.sass-cache**
**~
**.kate-swp
**.directory
media/uploads
media/uploads_versions
