[buildout]
parts = django

versions = versions

[django]
recipe = djangorecipe
settings = development
versions = versions
eggs =
	south
	django-grappelli
	django-filebrowser
	django-rosetta
	ipython
	django-mptt
	feincms

	pygments
    hamlpy
	djaml

	webtest
	django-webtest
	django-coverage
    django_any
    django_jenkins

project = main

[versions]
django = 1.4
