- extends 'doppler/shift/catalog/base.haml'
- load i18n

- block content
    .hero-unit
        %h1
            = category.name
        - if category.description
            = category.description|safe
    - if subcategories
        - with categories=subcategories
            - include 'doppler/shift/catalog/snippets/category_list.haml'
    - if products
        - include 'doppler/shift/catalog/snippets/product_list.haml'
    - if not products and not subcategories
        %p.alert.alert-info
            {% trans "This category is empty" %}