- extends 'doppler/shift/catalog/base.haml'
- load i18n
- load seo

- block title
    - get_metadata as metadata
    - if not metadata.title.value
        = category.name
    - else
        = metadata.title.value

- block inner_breadcrumbs
    - include 'doppler/shift/catalog/snippets/breadcrumbs/catalog.haml'
    - include 'doppler/shift/catalog/snippets/breadcrumbs/category.haml'

- block doppler_content
    .hero-unit
        %h1
            = category.name
        - if category.description
            = category.description|safe
    - if subcategories
        - with categories=subcategories
            - include 'doppler/shift/catalog/snippets/category_list.haml'
    - if products
        - include 'doppler/shift/catalog/snippets/product_list.haml'
    - if not products and not subcategories
        %p.alert.alert-info
            {% trans "This category is empty" %}