- extends 'doppler/shift/catalog/mens.haml'
- load i18n

- block main_container_class
    with_sidebar promo children

- block picture
    %img{:src => '/media/images/children.jpg', :width => '805px'}