from main.settings import *
import os

DEBUG = True
TEMPLATE_DEBUG = True

#EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
#EMAIL_FILE_PATH = PROJECT_ROOT_PATH + 'email_dump'

DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.sqlite3',
		'NAME': PROJECT_ROOT_PATH + 'dev.sqlite3',
	}
}

ADMINS = (('Grigory Bezyuk', 'gbezyuk@gmail.com'))
MANAGERS = ADMINS
