- load i18n
%form.add_to_cart{'method': 'POST', 'action': '{% if add_to_cart_action %}{{add_to_cart_action}}{% endif %}'}
    %button{'type': 'submit'}
        {% trans "Buy" %}
    - csrf_token
    = form.shipment
    = form.quantity
    -#- for field in form
        - include 'snippets/form_field.haml'