- load i18n

-#- include 'snippets/social_auth_providers.haml'

%ul.nav.pull-right.auth_widget
    - if request.user.is_anonymous
        %li
            %a#login-modal-toggler{'data-toggle': 'modal', 'href': '{{ LOGIN_URL }}'}
                {% trans "login / register" %}
    - else
        %li.dropdown
            %a#auth-dropdown-toggler.dropdown-toggle{'href': "{% url profile %}", 'data-toggle': "dropdown"}
                {% trans "Hi, " %}
                %i.icon-user
                %strong
                    = request.user.username
            %ul.dropdown-menu
                %li
                    %a{'href': '{% url doppler_shift_orders %}'}
                        {% trans "My Orders" %}
                %li
                    %a{'href': '{% url profile %}'}
                        {% trans "Profile" %}
                %li
                    %a{:href => '{% url auth_password_change %}'}
                        {% trans "Change password" %}
                %li
                    %a{'href': '{% url auth_logout %}'}
                        {% trans "Logout" %}