{% load category_tags %}
{% load mptt_tags %}
<ul class="category_tree root level_0">
	{% recursetree categories %}
	<li class="level_{{ node.level }}
			{% if node.has_active_children %}
				extendable collapsing_toggler
				{% iscategorychild node category %}
					extended
				{% else %}
					{% ifequal category.id node.id %}
						extended
					{% else %}
						collapsed
					{% endifequal %}
				{% endiscategorychild %}
			{% else %}
				empty
			{% endif %}
			{% ifequal category.id node.id %}
				active
			{% endifequal %}
		">
		<a href="{{ node.get_absolute_url }}">{{ node }}</a>
		{% if not node.is_leaf_node %}
			<ul class="children">
				{{ children }}
			</ul>
		{% endif %}
	</li>
	{% endrecursetree %}
</ul>

