django==1.4.2
django-model-utils
django-modeltranslation
PIL
south
django-grappelli==2.4.2
django-filebrowser==3.5
django-rosetta
ipython
django-mptt
feincms
pygments
hamlpy
djaml
webtest
django-webtest
django-coverage
factory_boy
pylint
django_any
django_jenkins
coverage
DjangoSEO
pyyaml
lxml
django-tastypie
django_compressor
BeautifulSoup
python-openid
oauth2
querystring-parser
pytils
django_flatblocks
django-crowd