- extends 'doppler/shift/checkout/base.haml'
- load i18n

- block inner_breadcrumbs
    -#- include 'doppler/shift/catalog/snippets/breadcrumbs/catalog.haml'

- block doppler_content
    - include 'doppler/shift/checkout/snippets/cart_table.haml'