- load i18n
%li.dropdown{'class': '{{ catalog_link_class }}'}
    %a#catalog-dropdown-toggler{'href': '{% url doppler_shift_catalog_index %}', 'data-toggle': "dropdown"}
        {% trans "Catalog" %}
    %ul.dropdown-menu
        - for category in categories
            - if not category.parent
                %li
                    %a{'href': '{{ category.get_absolute_url }}'}
                        = category