- load i18n

- if image and image.image
    - with default_big_version="800x800" default_thumbnail_version="200x200"
        - if no_link
            - if thumbnail_version
                - include 'doppler/snippets/render_image.haml'
            - else
                - with thumbnail_version=default_thumbnail_version
                    - include 'doppler/snippets/render_image.haml'
        - else
            - load fb_versions
            - if big_version
                %a{'href': '{% version image.image.path big_version %}'}
                    - if thumbnail_version
                        - include 'doppler/snippets/render_image.haml'
                    - else
                        - with thumbnail_version=default_thumbnail_version
                            - include 'doppler/snippets/render_image.haml'
            - else
                %a{'href': '{% version image.image.path default_big_version %}'}
                    - if thumbnail_version
                        - include 'doppler/snippets/render_image.haml'
                    - else
                        - with thumbnail_version=default_thumbnail_version
                            - include 'doppler/snippets/render_image.haml'
- else
    %div{
        'alt':'{% trans "no image available" %}',
        'title': '{% trans "no image available" %}',
        'style': 'background: url("/media/images/no_image.png") 50% 50% no-repeat; width: 300px; height: 186px;',
        'class': 'no_image_default'
    }