- load i18n
%ul.products.thumbnails{'style': "margin-left: -22px;"}
    - for product in products
        %li.thumbnail.position-thumbnail{'style': "margin-left: 20px; min-width: 296px; min-height: 260px"}
            %a{'href': '{{ product.get_absolute_url }}'}
                .version.version300x186
                    - with image=product.main_image no_link=1 thumbnail_version="300x186"
                        - include 'doppler/shift/catalog/snippets/image.haml'
                %h3{'style': 'max-width: 292px;'}
                    = product.name
                .pull-right
                    - if product.price
                        %strong
                            = product.price
                        - if product.remainder
                            %em
                                = product.remainder
                        - else
                            {% trans "<a href='mailto:zakaz@westernunit.ru'>On request</a>" %}
                    - else
                        %em
                            {% trans "<a href='mailto:zakaz@westernunit.ru'>On request</a>" %}
