- extends 'doppler/shift/catalog/base.haml'
- load i18n

- block main_container_class
    home

- block footer_class
    home

- block inner_breadcrumbs
    - include 'doppler/shift/catalog/snippets/breadcrumbs/catalog.haml'

- block catalog_tree
    - block picture
        %img{:src => '/media/images/men2.jpg', :width => '992px'}
        - block intro_message
            .intro_message
                - load flatblock_tags
                - flatblock "homepage_intro"