- extends 'base.haml'
- load i18n

- block content
    .hero-unit
        %h1 {% trans "Western Shop" %}
        %p {% trans "To access admin interface click the link above and use " %} admin/admin {% trans "login/password pair" %}.
        %p {% trans "Theming is default yet." %}
        %p {% trans "Text bellow is merely page filling, don't keep in mind" %}
    - include 'lorem-ipsum.html'
